%p 
  = "Hello. #{@user.user_name} from #{@user.email} has requested a refund for their premium account."
%br
%p Please follow-up with this user to see if a refund is warranted
%br
%p Thanks!
%br
%p -Admin team