%h1.text-center Blocipedia
%br
%h4.text-center
  Blocipedia is a site that allows users to create their own wikis using a live markdown-based editor.
  %br
  Free users can create public wikis which any other user can view.
  %br
  Premium users can create private wikis and add other users as collaborators
%br
%p.text-center Created by Austin Sisson as part of the Bloc full-stack apprenticeship.
