%h1 Welcome to Blocipedia!
%p This is a temporary welcome page.

= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary'
= link_to "Sign In", new_user_session_path, class: 'btn btn-primary'
