%div.center-block
  %p Edit your Wiki below. Live preview at right.

%div.col-md-6
  = form_for [@user, @wiki] do |f|
    = f.text_area :content, cols: 30, rows: 20, placeholder: 'Say something!'
    = f.submit 'Update', class: 'btn btn-primary'

%div.col-md-6
  %script{:src => "epiceditor.min.js"}
  :javascript
    var editor = new EpicEditor().load();
    editor.getElement('editor').body.innerHTML = '#{escape_javascript(@wiki.content)}';
    function prep() {
      $("#body")[0].value = (editor.getElement('editor').body.innerHTML);
    }