.container.center-block
  %h1 Welcome to the #{@wiki.name} Wiki!
  %br
  .col-md-8
    = markdown @wiki.content
  .col-md-4
    - if current_user
      = link_to "Edit", edit_wiki_path, class: 'btn btn-primary'